[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
firebase-admin = "*"
python-dotenv = "*"
pyrebase4 = "*"
requests = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
